body {
    scroll-behavior: auto;
    font-family: "Inter", sans-serif;
}

/* .text-success {
    color: #49AD09 !important;
} */

/* NAVBAR  */

.navbar-brand {
    font-size: 30px;
    font-weight: 600;
}

/* HEADER  */

.header {
    min-height: 90vh;
}

.header-text {
    font-size: 58px;
    font-weight: 700;
}

.a-none {
    font-weight: 500;
    color: #514040;
}

.a-none:hover {
    color: #28a745 !important;
}

.header {
    background: url(../img/header.png);
    height: 500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.right-0 {
    right: 0;
}

.a-success {
    color: #28a745;
}

.a-success:hover {
    color: #0c9e2e;
}

.testimonial {
    background: url(../img/testimonial.png);
    height: 400px; /* You must set a specified height */
    min-width: 720px;
    z-index: -1;
    background-position: center !important; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .header-text {
        font-size: 38px;
    }
    .text-center-sm {
        text-align: center !important;
    }
    .testimonial {
        height: auto;
        width: 0px !important;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
